@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: IRANSans, sans-serif;
}
.swiper-marquee{
  --swiper-wrapper-transition-timing-function: linear !important;
}
.linear-gradient {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 8%, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 80%, rgba(255,255,255,1) 92%);
}
:root {
  --background: #ffffff;
  --foreground: #171717;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
